/* -----------------------------------------
* APP SIDEBAR
-------------------------------------------*/
@use '../vars' as *;


.app-sidebar {
    flex: 0 0 $sidebar-width;
    height: calc(100vh - $header-height);
    padding: 0.75rem;

    background-color: $col-light;
    border-right: 1px solid $col-gray-500;
}