/* -----------------------------------------
* APP SIDEBAR
-------------------------------------------*/
@use '../vars' as *;


.app-sidebar {
    flex: 0 0 $sidebar-width;
    height: calc(100vh - $header-height);

    background-color: red;

    &-menu {
        margin: 0;
        padding: 0;
    }
}